## Python Data Classes

In Python, the dataclass decorator is a feature introduced in Python 3.7 that provides a concise way to define classes primarily intended to store data. It automatically generates several special methods, such as __init__, __repr__, and __eq__, based on the class attributes you define. This simplifies the process of creating and working with data-focused classes.

In [1]:
from dataclasses import dataclass

@dataclass
class Person:
    name:str
    age:int
    profession:str

The @dataclass decorator automatically generates the following methods for you:

1. __init__(): Initializes the object and assigns the provided values to the attributes.
2. __repr__(): Provides a string representation of the object.
3. __eq__(): Implements equality comparison between two objects of the class based on their attributes.

In [3]:
person1=Person('Royas',20,'SE')
person1

Person(name='Royas', age=20, profession='SE')

In [4]:
person1.age

20

In [11]:
@dataclass
class Rectangle:
    width:int
    height:int
    color:str='white'

rectangle1=Rectangle(12,14)
rectangle2=Rectangle(13,14,'red')

In [6]:
rectangle2.color

'red'

In [23]:
@dataclass
class Point:
    x:int
    y:int

In [24]:
point=Point(3,4)

In [25]:
point.x,point.y

(3, 4)

In [26]:
point.x= 12

In [13]:
## inheritance 

@dataclass
class Person:
    name:str
    age:int

@dataclass
class Employee(Person):
    employee_id:str
    department:str

In [14]:
person=Person('Royas',31)
employee=Employee("Royas",31,'123','AI')

In [15]:
employee.name

'Royas'

In [18]:
## Nested Dataclasses

@dataclass
class Address:
    street:str
    city:str
    zip_code:str

@dataclass
class Person:
    name:str
    age:str
    address: Address

In [19]:
address=Address('123 MAin street','Kathmandu','12345')
person=Person("Royas",31,address)

In [20]:
person.address.city

'Kathmandu'